* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #0a192f;
  padding: 0px 10px;
  font-size: 1rem;
}

div {
  border: 1px solid rgb(231, 223, 223);
}

.container {
  height: 100vh;
  max-width: 1800px;
  margin: 0px auto;
  display: flex;
  flex-direction: row;
}

/* left side */
.container .handles {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.handles li {
  list-style: none;
  margin-bottom: 20px;
}
.email a:hover,
.handles li:hover a{
  color: #5ef3d0;
  transform: translatey(-4px);
}

.handles li a {
  font-size: 1.5rem;
  color: #a8b2d1;
  text-decoration: none;
  transition: transform 0.3s ease-in-out;
}

.email div::after,
.handles ul::after {
  content: "";
  border-left: 1px solid #a8b2d1;
  display: block;
  margin: 0px auto;
  height: 90px;
  width: 0px;
}

/* left side end */

/* right side */

.container .email {
  width: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

.email a {
  text-decoration: none;
  display: block;
  writing-mode: vertical-rl;
  font-size: 0.75;
  color: #a8b2d1;
  letter-spacing: 0.1em;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
  margin-bottom: 25px;
  transition: transform 0.3s ease-in-out;
}

/* right side end */

.container .main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.container .about {
  height: 250px;
}

.container .projects {
  flex: 1;
}

.container .in-touch {
  height: 150px;
}

footer .created-by {
  height: 30px;
}

/* media queries */
@media only screen and (max-width: 1000px) {
  .container .handles {
    display: none;
  }
  .container .email {
    display: none;
  }

  footer .footer-handles {
    height: 70px;
  }
}
